<form [formGroup]="customForm" class="form" [ngStyle]="{marginRight : formConfig.tabs ? '15px' : '0'}">
  <div class="group_line" *ngFor="let items of formConfig?.formData;let i = index">
    <div class="custom-form-control" *ngFor="let item of formConfig?.formData[i];let j = index"
         [ngClass]="{'invalid': customForm.get(item.key)?.invalid && (customForm.get(item.key)?.dirty || customForm.get(item.key)?.touched), 'left': (j % 2 == 0 && j + 1 !== formConfig.formData[i].length), 'right': j % 2 == 1, 'inline': item.type === 'checkbox'}">
      <div class="label" *ngIf="formConfig?.labels">{{item.title}}</div>
      <input class="custom-input"
             *ngIf="item.type !== 'textarea' && item.type !== 'file' && item.type !== 'image' && item.type !== 'quill' && item.type !== 'checkbox'"
             [type]="item.type"
             [formControlName]="item.key"
             [placeholder]="item.title"
      />
      <mat-checkbox *ngIf="item.type === 'checkbox'"
                    [checked]="data && id ? this.data[item.key] : false"
                    [color]="'none'"
                    class="checkbox"
                    (change)="checkBoxValue(item.key, $event)">
      </mat-checkbox>
      <app-custom-file-upload *ngIf="item.type === 'file' || item.type === 'image'"
                              [uploadConfig]="{type:item.type,
                              uploadSrc:formConfig?.gcloud_path,
                              title:item.title,
                              showName:item.type === 'file' ? show : false,
                              url:id ? data[item.key] : '',
                              files:id && formConfig.multiple ? data[item.key] : [],
                              multiple:formConfig.multiple,
                              jsonConvert:false,
                              mimeType:item.mimeType ? item.mimeType : ''}"
                              (getFile)="upload(item.key, $event, formConfig?.multiple)"
      ></app-custom-file-upload>
      <textarea *ngIf="item.type === 'textarea'"
                [formControlName]="item.key"
                [placeholder]="item.title"
      ></textarea>
      <app-quill-editor *ngIf="item.type === 'quill'"
                        [quillConfig]="{formGroup:customForm,placeholder:item.title,groupKey:item.key}">
      </app-quill-editor>
      <div class="showTemplate" *ngIf="item.type === 'quill' && item.output && customForm.controls[item.key].value">
        <div class="label">Output</div>
        <div class="output" [innerHTML]="customForm.controls[item.key].value | safeHtml"></div>
      </div>

      <div
        *ngIf="customForm.get(item.key)?.invalid && (customForm.get(item.key)?.dirty || customForm.get(item.key)?.touched)"
        class="errors">
        <div class="error" *ngFor="let err of formConfig?.formData[i][j].validators">
          <div *ngIf="customForm.get(item.key)?.errors?.[err?.type?.toLowerCase()]">
            {{err.message}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <button type="submit"
          [ngClass]="{'outlined send shine': !formConfig.imageButton, 'image-button': formConfig.imageButton}"
          (click)="onSubmit()">
    <div class="image-send" *ngIf="formConfig.imageButton">
      <img src="assets/icons/post.svg">
    </div>
    <div class="button-text" *ngIf="!formConfig.imageButton">
      {{formConfig.buttonTitle}}
    </div>
  </button>
</form>
